body {
	margin: 0;
	/* font-size: 0; */
}

article {
	/* border: 1px solid red; */
	/* margin-left: 40px; */
}

/* div a �궘�젣 */
.title {
	margin-top: 30px;
	margin-bottom: 60px;
	/* ���씠�� */
	color: black;
	font-size: 40px;
	font-weight: bold;
}

article>div:nth-child(2) {
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 40px;
}

/* article > div:nth-child(4){
    width: 300px;
    height: 50px;
} */

.hashtags {
	display: inline-block;
	border: 1px solid orange;
	font-size: 16px;
	font-weight: bold;
	border-radius: 30px;
	width: 11%;
	height: 50px;
	margin-top: 20px;
	line-height: 3;
	cursor: pointer;
	margin-left: 10px;
	margin-bottom: 50px;
	text-align: center;
	/* �닔�젙 �궗�빆: 
    margin-left: 10px; 
    異붽�*/
}

article>div>img {
	/* background-size: contain; */
	width: 100%;
	height: 400px;
	display: inline-block;
	margin-bottom: 5px;
}

/* �겢�옒�뒪紐� 蹂�寃� */
.food_text_review {
	border: 1px solid orange;
	border-radius: 10px;
	width: 91%;
	height: 150px;
	font-size: 20px;
	margin-left: 1.5%;
	padding: 0 15px;
	padding-top: 15px;
	/* �닔�젙�궗�빆: 
    width:100% -> width: 1075px; 蹂�寃� 
    */
	resize: none;

}

.writeTitle {
	background-color: white;
	border: none;
	/* 테두리 없애는 스타일 */
	resize: none;
	/* 크기 조절 불가능하게 만듦 */
	outline: none;
	/* 포커스 효과 없애는 스타일 (선택적으로) */
	overflow: hidden;
	/* 스크롤바 없애는 스타일 */
	font-size: 29px;
	font-weight: 900;
	width: 91%;
	height: 50px;
}

.modify {
	display: flex;
	margin-top: 20px;
	line-height: 0;
	justify-content: flex-end;
	margin-right: 2%;
	/* �닔�젙�궗�빆: 
    margin-left: 800px -> margin-left: 850px; 蹂�寃� 
    */
}

.viewbtn {
	font-size: 16px;
	/* background-color: whitesmoke; */
	background-color: rgb(207, 207, 207, 0.562);
	 border: none; 
	width: 8%;
	height: 35px;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 2.2;
	cursor: pointer;
	margin-left: 10px;
}


.modify>a {
	margin-left: 10px;
	font-size: 16px;
	/* background-color: whitesmoke; */
	background-color: rgb(207, 207, 207, 0.562);
	/* border: 1px solid red; */
	width: 8%;
	height: 35px;
	border-radius: 10px;
	font-weight: bold;
	text-align: center;
	line-height: 2.2;
	cursor: pointer;
	text-decoration-line: none;
	color: black;
}