<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="sec1_bigbox">
        <div class="sec1_head_box">
            <div>번호</div>
            <div>제목</div>
            <div>날짜</div>
            <div>작성자</div>
            <div>조회수</div>
        </div>
        <div class="abox">
            <div class="sec1_bbox">
                <div>1</div>
                <div>햄볶음밥 레시피를 보고 만든 후기</div>
                <div>2023.08.22</div>
                <div>임꺽정</div>
                <div>12</div>
            </div>
            <div class="sec1_bbox">
                <div>2</div>
                <div>꽃게탕 만들어봄 ㅋㅋ</div>
                <div>2023.08.23</div>
                <div>홍길동</div>
                <div>23</div>
            </div>
            <div class="sec1_bbox">
                <div>3</div>
                <div>오늘 만든 떡볶이 후기</div>
                <div>2023.08.23</div>
                <div>이순신</div>
                <div>2</div>
            </div>
            <div class="sec1_bbox">
                <div>4</div>
                <div>추천 1등 카레라이스 레시피 좋은듯?</div>
                <div>2023.08.25</div>
                <div>1일1닭</div>
                <div>32</div>
            </div>
            <div class="sec1_bbox">
                <div>5</div>
                <div>가지 볶음보다 맛있는 가지스테이크 맛있다</div>
                <div>2023.08.25</div>
                <div>가지</div>
                <div>220</div>
            </div>
            <div class="sec1_bbox">
                <div>6</div>
                <div>500원으로 만드는 버섯조림 후기</div>
                <div>2023.08.27</div>
                <div>조림500</div>
                <div>0</div>
            </div>
            <div class="sec1_bbox">
                <div>7</div>
                <div>터키를 대표하는 디저트,터키쉬딜라이트</div>
                <div>2023.08.28</div>
                <div>터키쉬</div>
                <div>42</div>
            </div>
            <div class="sec1_bbox">
                <div>8</div>
                <div>황금 레시피 잡채</div>
                <div>2023.08.29</div>
                <div>황금레시피</div>
                <div>124</div>
            </div>
            <div class="sec1_bbox">
                <div>9</div>
                <div>백종원 에그 토스트 만들어봄</div>
                <div>2023.09.02</div>
                <div>백종</div>
                <div>4</div>
            </div>
            <div class="sec1_bbox">
                <div>10</div>
                <div>자박자박한 오징어 볶음</div>
                <div>2023.09.05</div>
                <div>오징어오징</div>
                <div>422</div>
            </div>
        </div>
    </div>
</body>

</html>