<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>

<body>
    <div>
        <div class="right_bord">
            <div class="ggim">찜한레시피🧡</div>

            <div class="recipe">
                <img
                    src="https://cdn.discordapp.com/attachments/1148541415828246548/1149236900067033108/bowl-ramen-with-fried-egg-avocado.jpg">
                <div>#음식 #음식</div>
                <div>음식이름</div>
            </div>

            <div class="recipe">
                <img
                    src="https://cdn.discordapp.com/attachments/1148541415828246548/1149236900566138890/korean-food-gyeran-jjim-or-poached-egg.jpg">
                <div>#음식 #음식</div>
                <div>음식이름</div>
            </div>

            <div class="bottom">
                <div class="order_all">
                    <div class="order">◁</div>
                    <div class="order">1</div>
                    <div class="order">2</div>
                    <div class="order">3</div>
                    <div class="order">4</div>
                    <div class="order">5</div>
                    <div class="order">▷</div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>