<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="box">
        <div class="write_box">
            <div class="write_title">작성글</div><br>
            <div class="write_name">나만의 햄마요덮밥 만들기 !</div><br>
            <div class="write_date">2023.09.09</div>
            <hr>
            <div class="write_name">김치볶음밥 만들어 봤어여 ㅎㅎ</div><br>
            <div class="write_date">2023.09.11</div>
            <hr>
            <div class="write_name">쉽고 간편한 흰 죽 레시피</div><br>
            <div class="write_date">2023.09.12</div>
            <hr>
            <div class="write_name">간단한 재료로 쿠키 굽기</div><br>
            <div class="write_date">2023.09.13</div>
            <hr>
        </div>
    </div>
</body>
</html>