<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="all_box">
        <div class="top_box">
            <div class="information_title">기본 정보</div>
            <div class="out">회원탈퇴</div><br>
            <div class="information_img">
                <img
                    src="https://cdn.discordapp.com/attachments/1123448023238844436/1149601848035127328/information_name_2.png">
            </div>
            <div class="information_name">김호연</div>
            <div class="edit">수정</div><br>

            <div class="information_id">아이디</div>
            <div class="information_id_2">ghdus0129</div>
            <div class="edit">수정</div><br>
            <hr>
            <div class="information_password">비밀번호</div>
            <div class="information_password_2">***********</div>
            <div class="edit">수정</div><br>
            <hr>
            <div class="information_birth">생년월일</div>
            <div class="information_birth_2">2000.01.29</div>
            <div class="edit">수정</div><br>
            <hr>
            <div class="information_gender">성별</div>
            <div class="information_gender_2">여자</div>
            <div class="edit">수정</div>
        </div>
        <div class="bottom_box">
            <div class="information_title_2">연락처 정보</div><br>
            <div class="information_email">이메일</div>
            <div class="information_email_2">hy0129@naver.com</div>
            <div class="edit">수정</div><br>
            <hr>
            <div class="information_phone">휴대전화</div>
            <div class="information_phone_2">010-****-****</div>
            <div class="edit">수정</div>
        </div>
    </div>
</body>
</html>