<?xml version="1.0" encoding="UTF-8"?>
<beans
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans">

	<!-- db접속 정보가 있는 파일 지정  -->
	<bean id="propertyPlaceholderConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>/WEB-INF/config/jdbc.properties</value>
		</property>
	</bean>
	
	<!-- db 접속하기 위해 dataSource가 필요함 -->
	<!-- 커넥션 풀 -->
	<bean id="dataSource" class="org.apache.ibatis.datasource.pooled.PooledDataSource">
		<property name="driver" value="${jdbc.driverClassName}"></property>
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
	</bean>

	<!-- new class된것이 id에 담김 -->
	<!-- property의 필드명 = name // ref: 전달인자=class // value: String-->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<!-- 설정 -->
		<!-- : = 메소드처럼 명령어가됨. classpath라는 폴더를 지정함. / = webapp폴더를 나타냄 -->
		<!-- classpath들은 resources폴더안에 있는 것을 뜻함(myBatis/target/classes) -->
		<property name="configLocation" value="classpath:mybatis/model/modelConfig.xml"></property>
		<!-- sql들이 모여있음/ 저 파일위치에 있는 xml을 모두 스캔 -->
		<property name="mapperLocations" value="classpath:mybatis/mappers/*.xml"></property>
	</bean>

	<!-- id는 상관없고 beans 중에서 sqlSession 인터페이스로 변경될 수 있는 것을 찾아서 
		SqlSessionTemplate은 sqlSession 인터페이스를 가지고 있기 때문에 변경될 수 있다
	 -->
	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<!-- 생성자의 첫번째 전달인자로 sqlSessionFactory -->
		<constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
	</bean>
	
</beans>