header{
    /* border: 1px solid red; */
    /* height: 100px; */
    /* pixed */
}
main{
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    flex-direction: column;
}
section{
    /* border: 1px solid aqua; */
    width: 85%;
    /* height: 500px; */
}
/* article{
    margin-top: 15px;
    width: 85%;
} */
footer{
    /* border: 1px solid black; */
    /* height: 100px; */
}